<!-- Columna para un producto -->
<div class="col-lg-4 col-md-6 col-sm-12">
    <!-- Tarjeta de producto -->
    <div class="card producto" 
         data-nombre="{{this}}" 
         data-imagen="/assets/img/{{this}}.png" 
         style="width: 18rem; border: none;">
        <!-- Imagen del producto -->
        <img src="/assets/img/{{this}}.png" 
             class="card-img-top" 
             alt="{{this}}">
        <!-- Cuerpo de la tarjeta -->
        <div class="card-body">
            <!-- Título del producto -->
            <h5 class="card-title text-center">{{this}}</h5>
        </div>
    </div>
</div>
